{{! top conntact info, you can edit your information here }}
<li><i class="fa fa-phone"></i>+012456789</li>
<li><i class="fa fa-envelope"></i><a href="mailto:someone@example.com" target="_blank">someone@example.com</a></li>