{{! top conntact info, you can edit your information here }}
<li><i class="fa fa-phone"></i>+593 991438750</li>
<li><i class="fa fa-envelope"></i><a href="mailto:dapl@icloud.com" target="_blank">dapl@icloud.com</a></li>