{{! header ads. you can use google ads or custom here, to display google ads, delete all this code and then input script ads}}
<a href="#" target="_blank">
    <img alt="" src="http://ghostmb.themeruby.com/content/images/2015/10/leaderboard.jpg">
</a>