{{! header ads. you can use google ads or custom here, to display google ads, delete all this code and then input script ads}}
<a href="#" target="_blank">
    <img alt="" src="http://vivencias.xyz/content/images/2015/11/BANNER.jpg">
</a>