{{! mobile navigation }}
<div id="main-mobile-menu" class="menu-main-nav-container">
    <div class="close-mobile-menu-wrap"><a href="#" id="close-mobile-menu-button">close</a></div>
    {{ navigation }}
</div>