{{! right main sidebar }}
<div class="tn-sidebar-sticky">
    <div class="widget-area">
        {{> widget-social }}
        {{> widget-latest }}
        {{> widget-facebook }}
        {{> widget-tag-cloud }}
    </div>
</div>

