<div class="single-navigation-wrap row">
        {{#prev_post}}
            <div class="single-previous col-sm-6 col-xs-12">
                <div class="prev-article">previous article</div>
                <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
            </div>
        {{/prev_post}}
        {{#next_post}}
            <div class="single-next col-sm-6 col-xs-12">
                <div class="next-article">next article</div>
                <h3 class="post-title"><a href="{{url}}">{{title}}</a></h3>
            </div>
        {{/next_post}}
</div>