{{! top header social link }}
<a title="Facebook" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-facebook color-facebook"></i></a>
<a title="Twitter" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-twitter color-twitter"></i></a>
<a title="Google+" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-google-plus color-google"></i></a>
<a title="Youtube" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-youtube color-youtube"></i></a>
<a title="Pinterest" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-pinterest color-pinterest"></i></a>
<a title="LinkedIn" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-linkedin color-linkedin"></i></a>
<a title="Flickr" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-flickr color-flickr"></i></a>
<a title="Skype" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-skype color-skype"></i></a>
<a title="Tumblr" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-tumblr color-tumblr"></i></a>
<a title="Vimeo" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-vimeo-square color-vimeo"></i></a>
<a title="Intagram" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-instagram color-instagram"></i></a>
<a title="VKontakte" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-vk color-vk"></i></a>
<a title="Rss" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-rss color-rss"></i></a>