{{! top header social link }}
<a title="Facebook" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-facebook color-facebook"></i></a>
<a title="Twitter" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-twitter color-twitter"></i></a>
<a title="Youtube" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-youtube color-youtube"></i></a>
<a title="Intagram" href="http://ghostmb.themeruby.com/" target="_blank"><i class="fa fa-instagram color-instagram"></i></a>