{{! social icon widget }}
<div class="widget social-widget">
    <a href="#" class="social-widget-el color-facebook" target="_blank"><i class="fa fa-facebook"></i><span class="name">facebook</span><span class="sub-name">follower</span></a>
    <a href="#" class="social-widget-el color-twitter" target="_blank"><i class="fa fa-twitter"></i><span class="name">twitter</span><span class="sub-name">follower</span></a>
    <!--<a href="#" class="social-widget-el color-google" target="_blank"><i class="fa fa-google-plus"></i><span class="name">google plus</span><span class="sub-name">follower</span></a> -->
    <a href="#" class="social-widget-el color-pinterest" target="_blank"><i class="fa fa-pinterest"></i><span class="name">pinterest</span><span class="sub-name">follower</span></a>
    <!--<a href="#" class="social-widget-el color-youtube" target="_blank"><i class="fa fa-youtube"></i><span class="name">Youtube</span><span class="sub-name">Subscribe</span></a> -->
    <!--<a href="#" class="social-widget-el color-vk" target="_blank"><i class="fa fa-vk"></i><span class="name">VKontakte</span><span class="sub-name">follower</span></a>-->
    <a href="#" class="social-widget-el color-rss" target="_blank"><i class="fa fa-rss"></i><span class="name">Subscribe</span><span class="sub-name">RSS Feeds</span></a>
</div>