{{! latest post widget }}
<div class="widget widget-latest">
    <div class="block-title-wrap"><h3 class="block-title">latest posts</h3></div>
    <div class="widget-content-wrap tn-latest-wrap"></div>
</div>