{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="row tn-main-content tn-container">
    <div class="error-404-content-wrap">
        <div class="logo-404"><h1>404</h1></div>
        <h3 class="title-404">Oops! It looks like nothing was found at this location. Maybe try another link or a search?</h3>
    </div>
</div>